(function(){
  var app = angular.module( "APIBeardDemo", ['ng'] );
  app.constant('config', {
    skybeard_host: "localhost",
    skybeard_port: 8000
  });
})();                           // End of closure
