<!DOCTYPE html>
<html ng-app="APIBeardDemo">
    <head>
        <script src="https://cdn.jsdelivr.net/g/jquery@3.1.1,angularjs@1.6.0,bootstrap@3.3.7,lodash@4.17.4"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.0/angular-sanitize.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">
        <script type="text/javascript" src="config.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/directives/beard-badge.js"></script>
        <script type="text/javascript" src="js/directives/loaded-beards.js"></script>
        <script type="text/javascript" src="js/directives/relay-beard.js"></script>
    </head>

    <body>
            <section ng-controller="PanelController as panel">
                <ul class="nav nav-pills navbar-center">
                    <li ng-class="{active:panel.isSelected(1)}">
                        <a href ng-click="panel.selectTab(1)">Beards</a>
                    </li>
                    <li ng-class="{active:panel.isSelected(2)}">
                        <a href ng-click="panel.selectTab(2)">Relay beard</a>
                    </li>
                </ul>
                <loaded-beards ng-show="panel.isSelected(1)"></loaded-beards>
                <relay-beard ng-show="panel.isSelected(2)"></relay-beard>
            </section>
    </body>
</html>
