<div ng-show="beards.length > 0">
    <div class="row">
        <div class="col-md-4">.
            <div ng-repeat="beard in columnatedBeards[0]">
                <beard-badge beard="beard"></beard-badge>
            </div>
        </div>
        <div class="col-md-4">.
            <div ng-repeat="beard in columnatedBeards[1]">
                <beard-badge beard="beard"></beard-badge>
            </div>
        </div>
        <div class="col-md-4">.
            <div ng-repeat="beard in columnatedBeards[2]">
                <beard-badge beard="beard"></beard-badge>
            </div>
        </div>
    </div>
</div>
<center
    <button type="button"
            class="btn btn-default"
            ng-click="ctrl.loadBeards()">Click me to update beard info!</button>
</center>
