<section ng-show="enabled">
    <form ng-submit="post()">
        <div class="form-group" style="width: 75%;margin-left:auto;margin-right:auto;">
            <label for="post-url">POST URL: </label>
            <input type="text" id="post-url" class="form-control" ng-model="config.url">
            <label for="exampleInputEmail1">Chat ID:</label>
            <input type="number" class="form-control" id="exampleInputEmail1" ng-model="payload.chat_id">
            <label for="exampleInputEmail2">Text:</label>
            <textarea class="form-control" id="exampleInputEmail2" rows="3" ng-model="payload.text"></textarea>
            <center>
                <button type="submit" class="btn btn-default">Send</button>
            </center>
        </div>
    </form>

    <h1>Payload:</h1>
    <pre>
{{payload}}
    </pre>
</section>
<section ng-hide="enabled">
    <div class="alert alert-info">
        This section has been disabled by your system administrator.
    </div>
</section>
